<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy <a href="https://www.ucd.ie">Where the world stops to code</a>
            by <a href="http://www.facebook.com/cuileann">Colin Sheehan</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>

